    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/assets/default/js/jquery-1.11.0.js" | relative_url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/assets/default/js/bootstrap.min.js" | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/assets/default/js/jquery.easing.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/default/js/classie.js" | relative_url }}"></script>
    <script src="{{ "/assets/default/js/cbpAnimatedHeader.js" | relative_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/assets/default/js/agency.js" | relative_url }}"></script>
