<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contacta con nosotros</h2>
                <h3 class="section-subheading text-muted">Intentaremos dar una respuesta a tu consulta lo antes posible.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" action="https://formspree.io/codeit@intermarkit.es" method="POST" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" name="name" placeholder="Nombre *" id="name" required data-validation-required-message="Por favor, intrduce tu nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" name="_replyto" placeholder="E-mail *" id="email" required data-validation-required-message="Por favor, introduce tu dirección de e-mail.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" name="phone" placeholder="Teléfono" id="phone" required data-validation-required-message="Por favor, introduce tu número de teléfono (opcional).">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="control-group form-group">
                                <textarea class="form-control" name="message" placeholder="Mensaje *" id="message" required data-validation-required-message="Por favor, introduce un mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" value="Enviar" class="btn btn-xl">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>