    <!-- Agenda Section -->
    <section id="agenda">
        <div class="container">
            <div class="flowRight border-right border-top rounded-topright"></div>
            <div class="flowLeft border-left border-bot rounded-botleft arrow-botright"></div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><strong>12 charlas</strong> sobre diferentes temas tecnológicos. Sígueles la pista.</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 timeline-wrapper">
                    <div class="timeline-line border-right"></div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image breakfast">
                                
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bienvenida</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Regristro y acceso al evento</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div>10:00</div>
                                <div>-</div>
                                <div>10:30</div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Charla 1</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Descripción de la charla 1</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <div>10:30</div>
                                <div>-</div>
                                <div>11:00</div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Charla 2</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Descripción de la charla 2</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <div>11:00</div>
                                <div>-</div>
                                <div>11:30</div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Charla 3</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Descripción de la charla 3</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <div>11:30</div>
                                <div>-</div>
                                <div>12:00</div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Charla 4</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Descripción de la charla 4</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image breakfast">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Despedida</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Networking beers</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>