<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row title">
            <div class="col-lg-12 text-center mb-3">
                <h2 class="section-heading"><strong>CODE-IT 2018</strong> es un encuentro entre desarrolladores dedicado a compartir sus conocimientos.</h2>
            </div>
            <div class="flow border-top border-left dot-topright rounded-topleft"></div>
        </div>
        <div class="row border-left rounded-topright rounded-botright overhidden">
            <!-- <p>
                <a href="/2017/">Enlace a la edición 2017</a> 
            </p> -->


            <!-- <div class="video"><iframe src="http://www.intermarkit.es/recursos/media/portal/2017/04/21/video-home.mp4" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br> -->
            <div class="video"><video src="http://www.intermarkit.es/recursos/media/portal/2017/04/21/video-home.mp4"></video></div>

            <!-- <center><a href="#" class="page-scroll btn btn-xl">Registro cerrado</a></center> -->
        </div>
        <div id="info" class="row border-left info">
            <div id="where" class="col">
                <div class="card">
                    <div class="title">Dónde</div>
                    <div class="subtitle">Gijón, Asturias</div>
                    <div class="desc">Avda. del Jardín Botánico nº 1345. Edificio Grupo Intermark</div>
                </div>
            </div>
            <div id="when" class="col">
                <div class="card">
                    <div class="title">Cuándo</div>
                    <div class="desc">Viernes, 23 de Marzo de 2018 de 8:00am a 18:00 pm</div>
                </div>
            </div>
        </div>
        <div class="row border-left rounded-topright rounded-botright" id="deco">
            <div class="flowLeft border-left border-bot dot-topleft arrow-botright rounded-botleft"></div>
            <div class="flowRight border-right border-bot dot-topright arrow-botleft rounded-botright"></div>
            <div class="flowBot border-left border-bot dot-topleft rounded-botleft"></div>
            <div class="triangle"><div class="inner"></div></div>
            <h2 class="section-heading"><strong>¿Te lo vas a perder?</strong></h2>
        </div>
    </div>
</section>