<!DOCTYPE html>
<html>
    {% include /default/head.html %}
    <body id="page-top" class="index" ondragstart="return false;" ondrop="return false;">
        {% include /2017/header-home.html %}
        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">Título<br></div>
                    <div class="intro-lead-in">Fecha</div>
                    <div class="intro-lead-in">Lugar</div>
                    <a href="#intro" class="page-scroll btn btn-xl">Quiero saber más</a>
                </div>
            </div>
        </header>
        {% include /2017/intro.html %}
        {% include /2017/speakers.html %}
        {% include /2017/about.html %}
        {% include /2017/sponsors.html %}
        {% include /2017/contact.html %}
        {% include /2017/speakers_info.html %}
        {% include /default/footer.html %}
        {% include /default/js.html %}
    </body>
</html>