    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Acerca de</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../assets/default/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Tema, Visión, Misión</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Leer más sobre nuestro Tema, Visión y Misión</p>
                                </div>
                                <a href="/2017/acerca-de/" class="page-scroll btn btn-sm">Saber más</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../assets/default/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agenda</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Mira la agenda</p>
                                </div>
                                <a href="/2017/agenda/" class="page-scroll btn btn-sm">Saber más</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../assets/default/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Equipo</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Descubre a los miembros del equipo</p>
                                </div>
                                <a href="/2017/equipo/" class="page-scroll btn btn-sm">Saber más</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../assets/default/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Lugar de encuentro</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Saber más sobre nuestra localización</p>
                                </div>
                                <a href="/2017/lugar-de-encuentro/" class="page-scroll btn btn-sm">Saber más</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../assets/default/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Preguntas frecuentes</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">¿Tienes alguna pregunta? Puedes encontrar muchas respuestasMany en nuestra sección de preguntas frecuentes</p>
                                </div>
                                <a href="/2017/preguntas-frecuentes/" class="page-scroll btn btn-sm">Saber más</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>